*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.menu{
    width: 100%;
    height: 80px;
    background: #396b6b;
 
}
.menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
}
.menu ul li{
    float: left;
    margin-top: 20px;
}
.menu ul li a{
    width: 150px;
    color: rgb(237, 238, 240);
    display: block;
    text-decoration: none;
    font-size: 22px;
    text-align: center;
    padding: 10px;
    border-radius: 20px;  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-weight: bold;
}
.menu ul li a:hover{
    background: #36b4b4;
}
.menu ul li ul{
    background: #396b6b;
    display: none;
    
}
.menu ul li ul li{
    float: none;
   
}
.menu ul li ul li a{
    display: block;
}
.menu ul li:hover ul{
    display: block;
    transition: 0.50s;
}
